/* ===== FUNDO GERAL ===== */
.stApp {
    background-color: #0e1117;
    color: #FAFAFA;
}

/* ===== SIDEBAR ===== */
section[data-testid="stSidebar"] {
    background-color: #161b22;
    border-right: 1px solid #30363d;
}

/* ===== TÍTULO ===== */
h1 {
    color: #FC5200;
    font-weight: 800;
}

/* ===== SUBTÍTULOS ===== */
h2, h3 {
    color: #FAFAFA;
    font-weight: 600;
}

/* ===== CARDS KPI ===== */
div[data-testid="metric-container"] {
    background-color: #161b22;
    border: 1px solid #30363d;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* ===== LABEL KPI ===== */
div[data-testid="metric-container"] label {
    color: #8b949e;
}

/* ===== VALOR KPI ===== */
div[data-testid="metric-container"] div {
    color: #FAFAFA;
}

/* ===== TABELAS ===== */
[data-testid="stDataFrame"] {
    border-radius: 12px;
    overflow: hidden;
}

/* ===== BOTÕES ===== */
.stButton>button {
    background-color: #FC5200;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
}

/* ===== SELECTBOX ===== */
.stSelectbox div[data-baseweb="select"] {
    background-color: #161b22;
    color: white;
}

/* ===== SCROLLBAR ===== */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #FC5200;
    border-radius: 10px;
}

/* =========================
   CARDS PREMIUM
========================= */

.card {
    background: linear-gradient(145deg, #161b22, #1f2630);

    padding: 25px;

    border-radius: 20px;

    border: 1px solid #30363d;

    transition: all 0.3s ease;

    box-shadow:
        0 4px 20px rgba(0,0,0,0.4);

    text-align: center;
}

/* HOVER */

.card:hover {

    transform: translateY(-5px);

    border-color: #FC5200;

    box-shadow:
        0 8px 30px rgba(252,82,0,0.35);
}

/* ÍCONE */

.card-icon {

    font-size: 40px;

    margin-bottom: 10px;
}

/* TÍTULO */

.card-title {

    color: #8b949e;

    font-size: 16px;

    margin-bottom: 10px;
}

/* VALOR */

.card-value {

    color: white;

    font-size: 34px;

    font-weight: 800;
}


.sparkline {

    color: #FC5200;

    font-size: 22px;

    margin-top: 10px;

    letter-spacing: 2px;
}

.card {

    animation: fadeUp 0.7s ease;
}

@keyframes fadeUp {

    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}